/* generics */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

main {
    padding-top: 50px;


}

p {
    line-height: 30px;
}

a {
    text-decoration: none;
}

/* color */
:root {
    /* HEADER */
    --header-bg: #0084fd;
    --navbar-txt-color: #ffffff;
    --header-button: #ffffff;
    --header-button-txt: #000000;

    /* informative section */

    --purple-sec-bg: #9792e4;
    --informative-sec-card-color: #b5ddff;
    --h2-informative-color: #0084fd;
    --appstore-button-bg: #0084fd;
    --appstore-button-txt: #ffffff;
    --informative-card-txt: #5a6e7f;


    /* PLANNING SECTION */

    --planning-txt-color: #ffffff;
    --app-dev-text-color: #000000;
    --arrow-button-bg: #9792e4;

    /* TESTIMONIAL SECTION */
    --testimonials-card-bg-color: #9792e4;
    --testimonials-card-txt-color: #ffffff;
    --testimonial-title-color: #9792e4;

    /* BENEFIT SECTION */
    --benefit-main-title: #ffffff;
    --benefit-card-title: #9792e4;
    --benefit-card-bg: #ffffff;
    --benefit-card-txt: #5a6e7f;
    --benefit-card-btn-bg: #9792e4;
    --benefit-card-btn-txt: #ffffff;
    /* ABOUT US SECTION */
    --aboutus-title-color: #9792e4;
    --linkedin-manager-txt: #9792e4;
    --linkedin-button-bg: #9792e4;
    --linkedin-butto-txt: #ffffff;
}


/* UTILITY */
.container {
    max-width: 1000px;
    margin: 0 auto;


}

.debug .border {
    border: 1px solid greenyellow;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col {

    padding: 15px;

}


/* HEADER */

header {
    padding-top: 15px;
    height: 80px;
    background-color: var(--header-bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.fixed-bar ul {
    list-style-type: none;
    display: flex;


}

.fixed-bar li {
    margin-left: 30px;
}

.fixed-bar a {
    color: var(--navbar-txt-color);
}

.fixed-bar button {
    color: var(--navbar-txt-color);
    border: none;
    background-color: transparent;
}

.fixed-bar .get-started-button {
    color: black;
    background-color: var(--header-button);
    padding: 10px 15px;
    border-radius: 30px;
}

.fixed-bar {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.fixed-bar figure {
    text-align: center;

}

.full-menu {
    display: none;
}

/* HEADER RESPONSIVENESS */

@media screen and (min-width: 1200px) {
    .fixed-bar {
        padding: 0
    }

    .hamburger-menu {
        display: none;
    }

    .full-menu {
        display: flex;
    }
}


/* MAIN */


.card {
    height: 100%;
    padding: 30px;
}

section {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-top: 80px;
}



/* INFORMATIVE-SECTION */
.informative-section .card {
    background-color: var(--informative-sec-card-color);
    border-radius: 30px;
    text-align: center;
    padding-bottom: 15px;
}

.informative-section .demo-app {
    text-align: start;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

}

.informative-section h2 {
    color: var(--h2-informative-color);
    margin-bottom: 30px;
}

.informative-section p {
    line-height: 30px;
    font-weight: bold;
    color: #5a6e7f;
    margin-bottom: 30px;
}

.informative-section .card-icon {
    color: var(--h2-informative-color);
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
}

.informative-section .app-store-button {
    display: block;
    width: 200px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--appstore-button-bg);
    color: var(--appstore-button-txt);
    border-radius: 30px;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.demo-app img {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}









/* INFORMATIVE SECTION RESPONSIVENESS */


@media screen and (min-width:768px) {
    .row {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .informative-section .col {
        width: calc(100% / 3);


    }

    .informative-section .larger-col {
        width: calc(100% / 3 * 2);

    }

    .informative-section figure {
        width: 65%;
    }
}



@media screen and (min-width: 1200px) {
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .informative-section .demo-app {
        display: flex;
        flex-direction: row;

    }

    .demo-app .card-txt {
        width: 50%;
    }

    .informative-section .demo-app figure {
        width: 50%;
        height: 80%;
        align-self: flex-end;

    }

}



/* PLANNING SECTION */


.planning-section {
    background-color: var(--purple-sec-bg);
}



.planning-section figure {
    width: 100%;
    margin-bottom: 80px;


}

.planning-section .planning-txt {
    color: var(--planning-txt-color);
}

.planning-section .planning-txt h2 {
    margin-bottom: 40px;
    font-size: 40px;
}

.planning-section p {
    line-height: 30px;
}

.planning-section img {
    width: 100%;
    display: block;
}

/* APP CARD */

.planning-section .app-dev-card {
    text-align: center;
    background-color: white;
    border-radius: 50px;
    padding: 15px;

}

.app-dev-card img {
    margin-bottom: 30px;
}

.app-dev-card h2 {
    margin-bottom: 30px;
}

.app-dev-card a {
    display: block;
    background-color: var(--arrow-button-bg);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin: 30px auto;
    color: var(--app-dev-text-color);
}



/* PLANNING SECTION RESPONSIVENESS */

@media screen and (min-width:768px) {
    .planning-section .col {
        width: 100%;
    }

    .planning-section .planning-txt h2 {
        font-size: 60px;
    }
}

@media screen and (min-width:1200px) {
    .planning-section .col {
        width: calc(100%/2);
        padding: 50px;

    }

    .planning-section .planning-txt h2 {
        font-size: 40px;
    }

    .planning-section .row {
        align-items: baseline;
    }

    .planning-section .app-dev-card {
        height: 670px;
    }

    .planning-section .app-dev-card img {
        height: 50%;
        width: auto;
        margin: 30px auto;
    }
}



/* TESTIOMONIAL SECTION  */
.testimonial-txt {
    padding: 0 15px;
    text-align: center;
}

.testimonial-txt h2 {
    font-size: 40px;
    color: var(--testimonial-title-color);
    margin-bottom: 30px
}



.testimonials figure {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.testimonials .first-testimonial {
    background-image: url(../img/testimonial1.jpg);

}

.testimonials .second-testimonial {
    background-image: url(../img/testimonial2.jpg);
}

.testimonials .third-testimonial {
    background-image: url(../img/testimonial3.jpg);
}






.testimonials .card {
    text-align: center;
    min-height: 200px;
    background-color: var(--testimonials-card-bg-color);
    border-radius: 30px;
    color: var(--testimonials-card-txt-color);
}

.testimonials p {
    font-size: 20px;
    margin-bottom: 20px;
}

.testimonials .testimonial-name {
    font-size: 25px;
    font-weight: bold;
}




/* TESTIMONIAL SECTION RESPONSIVENESS */

@media screen and (min-width:768px) {
    .testimonials .row {
        flex-direction: column;
    }

    .testimonials .card {
        display: flex;
        align-items: center;
    }

    .testimonials .card-txt {
        width: 70%;
        text-align: justify;
    }

    .testimonials .testimonial-pic-box {
        width: 30%;
        margin-right: 20px;
    }
}

@media screen and (min-width:1200px) {
    .testimonials figure {
        margin-right: 60px;
    }
}


/* BENEFITS SECTION */

.benefits {
    background-color: var(--purple-sec-bg);
    text-align: center;
}

.benefits h2 {
    color: var(--benefit-main-title);
    font-size: 40px;
    margin-bottom: 30px;
}

/* BENEFIT CARDS DETAILS */

.benefit-card {
    background-color: var(--benefit-card-bg);
    border-radius: 30px;
    text-align: justify;
}

.benefit-card h2,
.benefit-card h3 {
    color: var(--benefit-card-title);
}

.benefit-card h2 {
    font-size: 50px;
}

.benefit-card h3 {
    font-size: 25px;
    margin-bottom: 30px;

}

.benefit-card p {
    color: var(--benefit-card-txt);
    margin-bottom: 20px;
}

.benefit-card a {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    width: 150px;
    padding: 10px 30px;
    border-radius: 30px;
    color: var(--benefit-card-btn-txt);
    background-color: var(--benefit-card-btn-bg);
}


/* BENEFIT SECTION RESPONSIVENESS */


@media screen and (min-width:768px) {
    .benefits h2 {
        font-size: 50px;
    }

    .benefit-card h2 {
        font-size: 70px;
    }

    .benefits .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefits .col {
        width: calc(100%/2);
    }
}

@media screen and (min-width:1200px) {
    .benefits .col {
        width: calc(100%/3);
    }
}



/* ABOUT US SECTION */


.about-us h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: var(--aboutus-title-color);

}

.about-us p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 40px;
}

.about-us .menager-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../img/about.jpg);
    background-position: center;
    background-size: cover;
    text-align: end;
    color: var(--aboutus-title-color);
    margin-bottom: 30px;
}

.linkedin-menager h3 {
    color: var(--aboutus-title-color);
    font-size: 30px;
    margin-bottom: 30px;
}

.linkedin-menager a {
    color: var(--appstore-button-txt);
    background-color: var(--aboutus-title-color);
    /* display: block; */
    padding: 8px 15px;
    border-radius: 30px;

}

.linkedin-menager .fa-linkedin {
    margin-right: 5px;
}



/* ABOUT US RESPONSIVENESS */

@media screen and (min-width:768px) {
    .about-us .text-col {
        width: 60%;
        padding: 40px;
    }

    .about-us .linkedin-col {
        width: 40%;
        padding: 40px;
    }

    .about-us h2 {
        font-size: 70px;
    }
}


/* GET STARTED SECTION */

.get-started {
    min-height: 200px;
    background-color: var(--purple-sec-bg);
    text-align: center;
}

/* FOOTER  */
footer {
    padding-top: 80px;
    min-height: 200px;
    background-color: black;
    color: white;
    text-align: center;
}