/* generics */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

main {
    padding-top: 150px;

}

/* color */
:root {
    --header-bg: #0084fd;
    --card-blue: #b5ddff;
    --planning-sec-bg: #9792e4;

}


/* UTILITY */
.container {
    max-width: 1000px;
    margin: 0 auto;


}

.debug .border {
    border: 1px solid greenyellow;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col {
    /* TOGLIMI? */
    min-height: 300px;
    padding: 15px;
    background-color: green;
}


/* HEADER */

header {
    height: 100px;
    background-color: var(--header-bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.fixed-bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.fixed-bar figure {
    height: 100%;
    /*TOGLIMI */
    background-color: red;
    /*TOGLIMI */
    width: 100px;
}

.full-menu {
    display: none;
}

/* HEADER RESPONSIVENESS */

@media screen and (min-width: 1200px) {
    .fixed-bar {
        padding: 0
    }

    .hamburger-menu {
        display: none;
    }

    .full-menu {
        display: flex;
    }
}


/* MAIN */


.card {
    height: 100%;
    padding: 30px;
}

section {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}



/* INFORMATIVE-SECTION */
.informative-section .card {
    background-color: var(--card-blue);
    border-radius: 30px;
    text-align: center;
}

.informative-section .demo-app {
    text-align: start;

}

.card-txt {
    /* eliminami */
    min-height: 100px;
    background-color: aquamarine;
}

.demo-app {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.informative-section .demo-app figure {
    /* ELIMINAMI */
    height: 200px;
    background-color: pink;

}

.informative-section figure {
    height: 100px;
    background-color: pink;
}


/* INFORMATIVE SECTION RESPONSIVENESS */


@media screen and (min-width:768px) {
    .row {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .col {
        width: calc(100%/3);
        /* eliminami */

    }

    .larger-col {
        width: calc(100%/3*2);

    }
}

@media screen and (min-width: 1200px) {
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .demo-app {
        display: flex;
        flex-direction: row;

    }

    .demo-app .card-txt {
        width: 50%;
    }

    .informative-section .demo-app figure {
        width: 50%;
        height: 100%;
        margin-bottom: -30px;
    }

}



/* PLANNING SECTION */
.planning-section {
    background-color: var(--planning-sec-bg);
}

/* ELIMINAMI */
.planning-txt {
    height: 150px;

}

.planning-section figure {
    min-height: 150px;
    background-color: pink;
}

.planning-section .card {
    min-height: 250px;
    background-color: white;
    border-radius: 50px;
}

/* PLANNING SECTION RESPONSIVENESS */

@media screen and (min-width:768px) {
    .planning-section .col {
        width: 100%;
    }
}

@media screen and (min-width:1200px) {
    .planning-section .col {
        width: calc(100%/2);
    }


}